In [1]:
import pandas as pd

In [15]:
graph_df = pd.read_csv('analytics.csv')

In [10]:
graph_df.head()

,Unnamed: 0,available_bike_stands,available_bikes,bike_stands,last_update,number,status,latest_weather,clouds,conditions,date,description,sunrise,sunset,temperature,wind
0,0,4,27,31,1521126715000,1,OPEN,1521124200,40,Clouds,1521124200,scattered clouds,1521095903,1521138611,10.52,8.7
1,1,1,30,31,1521127532000,1,OPEN,1521124200,40,Clouds,1521124200,scattered clouds,1521095903,1521138611,10.52,8.7
2,2,20,0,20,1521126523000,2,OPEN,1521124200,40,Clouds,1521124200,scattered clouds,1521095903,1521138611,10.52,8.7
3,3,20,0,20,1521127131000,2,OPEN,1521124200,40,Clouds,1521124200,scattered clouds,1521095903,1521138611,10.52,8.7
4,4,18,2,20,1521126673000,3,OPEN,1521124200,40,Clouds,1521124200,scattered clouds,1521095903,1521138611,10.52,8.7

In [12]:
raining_list = []

In [13]:
not_raining_list = []

In [29]:
graph_df['date_time']=pd.to_datetime(graph_df['last_update']/1000, unit='s')

In [30]:
graph_df['date_time'].head()

0   2018-03-15 15:11:55
1   2018-03-15 15:25:32
2   2018-03-15 15:08:43
3   2018-03-15 15:18:51
4   2018-03-15 15:11:13
Name: date_time, dtype: datetime64[ns]

In [31]:
graph_df.dtypes

Unnamed: 0                        int64
available_bike_stands             int64
available_bikes                   int64
bike_stands                       int64
last_update                       int64
number                            int64
status                           object
latest_weather                    int64
clouds                            int64
conditions                       object
date                              int64
description                      object
sunrise                           int64
sunset                            int64
temperature                     float64
wind                            float64
date_time                datetime64[ns]
dtype: object