In [1]:
# import pandas as pd
# import numpy as np
# import pickle
# from sklearn.linear_model import LinearRegression
# from sklearn import metrics
# from sklearn.cross_validation import cross_val_score
# from sklearn.tree import export_graphviz
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# import os
# import sqlalchemy

# engine = sqlalchemy.create_engine('mysql+pymysql://teamforsoft:whocares1@teamforsoft.ci76dskzcb0m.us-west-2.rds.amazonaws.com:3306/SE_group_project')
# conn = engine.connect()#creating local sqlite connection/database for quicker response to marker click queries

# analytics_df = pd.read_sql_query('SELECT * FROM dynamic d, weather w WHERE d.latest_weather = w.date;',con=conn)

# analytics_df.to_csv('analytics.csv')

# df = pd.read_csv('analytics.csv')

# df['date_time']=pd.to_datetime(df['last_update']/1000, unit='s')
# df['date_time'].head()
# df['hours']= df['date_time'].dt.hour
# df['day']=df['date_time'].dt.dayofweek

# df['rain']=0
# df.loc[df['description'] == "moderate rain", 'rain'] = 1
# df[df['rain']==0]

# #https://stackoverflow.com/questions/19790790/splitting-dataframe-into-multiple-dataframes

# #create unique list of names
# UniqueNumbers = df.number.unique()

# #create a data frame dictionary to store your data frames
# DataFrameDictHourDayStation = {}

# for key in UniqueNumbers:
#     for i in range(7):
#         for j in range (24):
#             DataFrameDictHourDayStation[str(key)+'/'+str(i)+'/'+str(j)] = df[:][(df.number == key)&(df.hours==j)&(df.day==i)]

# with open('dict.pkl','wb') as output:
#     pickle.dump(DataFrameDictHourDayStation, output, pickle.HIGHEST_PROTOCOL)

# def mkdir(path):
#     try:
#         os.makedirs("./"+str(path)+"/")
#     except FileExistsError:
#         pass

# for key in DataFrameDictHourDayStation.keys():
#     if DataFrameDictHourDayStation[key][['wind','temperature']].shape[0]==0 or DataFrameDictHourDayStation[key]['available_bikes'].shape[0]==0:
#         mkdir(key)
#         with open("./"+str(key)+"/model.pkl",'wb') as output:
#             model = None
#             pickle.dump(model, output, pickle.HIGHEST_PROTOCOL)
#             continue
#     linear = LinearRegression()
#     model=linear.fit(DataFrameDictHourDayStation[key][['wind','temperature','rain']],DataFrameDictHourDayStation[key]['available_bikes'])
#     mkdir(key)
#     with open("./"+str(key)+"/model.pkl",'wb') as output:
#         pickle.dump(model, output, pickle.HIGHEST_PROTOCOL)

In [10]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn import metrics
# from sklearn.cross_validation import cross_val_score # got deprecation warning !!!
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import os
import sqlalchemy

df = pd.read_csv('analytics.csv')

df['date_time']=pd.to_datetime(df['last_update']/1000, unit='s')
df['date_time'].head()
df['hours']= df['date_time'].dt.hour
df['day']=df['date_time'].dt.dayofweek

df['rain']=0
df.loc[df['description'] == "moderate rain", 'rain'] = 1
check = df[df['rain']==1]
check.head(3)

,Unnamed: 0,available_bike_stands,available_bikes,bike_stands,last_update,number,status,latest_weather,clouds,conditions,date,description,sunrise,sunset,temperature,wind,date_time,hours,day,rain
78524,78524,1,30,31,1522349659000,1,OPEN,1522346400,75,Rain,1522346400,moderate rain,1522303452,1522349761,5.49,4.6,2018-03-29 18:54:19,18,3,1
78525,78525,1,30,31,1522350125000,1,OPEN,1522346400,75,Rain,1522346400,moderate rain,1522303452,1522349761,5.49,4.6,2018-03-29 19:02:05,19,3,1
78526,78526,13,7,20,1522349706000,2,OPEN,1522346400,75,Rain,1522346400,moderate rain,1522303452,1522349761,5.49,4.6,2018-03-29 18:55:06,18,3,1

In [19]:
df.dtypes.head()

Unnamed: 0               int64
available_bike_stands    int64
available_bikes          int64
bike_stands              int64
last_update              int64
dtype: object

In [12]:
data = df['rain']
# print(data)
# print(pd.get_dummies(data))
data.unique()

array([0, 1])

In [13]:
df['rain']='False'
df.loc[df['description'] == "moderate rain", 'rain'] = 'True'
check = df[df['rain']=='False']
# check.head()
df = pd.get_dummies(df) # creates 2 columns rain_False and rain_True with 0s and 1s where appropriate 
df.head(3)

,Unnamed: 0,available_bike_stands,available_bikes,bike_stands,last_update,number,latest_weather,clouds,date,sunrise,...,description_light shower snow,description_light snow,description_mist,description_moderate rain,description_scattered clouds,description_shower rain,description_shower sleet,description_shower snow,rain_False,rain_True
0,0,4,27,31,1521126715000,1,1521124200,40,1521124200,1521095903,...,0,0,0,0,1,0,0,0,1,0
1,1,1,30,31,1521127532000,1,1521124200,40,1521124200,1521095903,...,0,0,0,0,1,0,0,0,1,0
2,2,20,0,20,1521126523000,2,1521124200,40,1521124200,1521095903,...,0,0,0,0,1,0,0,0,1,0

In [14]:
df.loc[df['rain_False']==0].head(2)   # shows there are some occasions where rain_False = 0 and rain_true=1

,Unnamed: 0,available_bike_stands,available_bikes,bike_stands,last_update,number,latest_weather,clouds,date,sunrise,...,description_light shower snow,description_light snow,description_mist,description_moderate rain,description_scattered clouds,description_shower rain,description_shower sleet,description_shower snow,rain_False,rain_True
78524,78524,1,30,31,1522349659000,1,1522346400,75,1522346400,1522303452,...,0,0,0,1,0,0,0,0,0,1
78525,78525,1,30,31,1522350125000,1,1522346400,75,1522346400,1522303452,...,0,0,0,1,0,0,0,0,0,1

In [15]:
import pandas as pd
my_test = pd.DataFrame([[2,10,1,0]], columns = ['temperature','wind','rain_False','rain_True'])
my_test

   temperature  wind  rain_False  rain_True
0            2    10           1          0

In [18]:
# df.loc[df['number']==1]

In [ ]:
#-----to unpack pkl file--------
# import pickle
# with open('model.pkl', 'rb') as f:
#     data = pickle.load(f)
#-----------------------------

my_model = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)